<h1>What desireth thou to asketh thy coach</h1>
<p>Ask away</p>

<form action="/answer" method>
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what's your question?">
  <input type="submit" value="Ask away!">
</form>
